body {
  background-color: aquamarine;
}

.taskNotDone {
  text-decoration: none;
}

.taskDone {
  text-decoration: line-through;
}

.x {
  border: none;
  background-color: aquamarine;
  cursor: pointer;
}
